<!DOCTYPE html>
<html>
<head>
  <title>Jordan M. Bluhm</title>
	<link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/resume1989/images/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/resume1989/images/favicon-16x16.png" sizes="16x16" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
